<template>
  <div class="hello">
    <v-row>
      <v-spacer/>
      <v-col cols="6" md="2">
        <router-link :to="{ name: 'Item', query: { action: 'create' } }">
          <v-btn
            color="primary">
            Create new
          </v-btn>
        </router-link>
      </v-col>
    </v-row>
    <v-simple-table>
      <thead>
        <td class="primary--text" @click="sort('id')">ID</td>
        <td class="primary--text" @click="sort('name')">Name</td>
        <td class="primary--text" @click="sort('quantity')">Quantity</td>
        <td class="primary--text" @click="sort('price')">Price</td>
        <td class="primary--text">Action</td>
      </thead>
      <tr v-for="item in items" :key="item.id">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>
          <router-link tag="button" :to="{ name: 'Item', query: { action: 'edit', id: item.id } }">
            <v-tooltip open-delay="83" bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  v-bind="attrs"
                  v-on="on"
                  class="mx-1">
                    mdi-pencil
                </v-icon>
              </template>
              <span>Edit</span>
            </v-tooltip>
          </router-link>
          <v-tooltip open-delay="83" bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                @click="deleteItem(item.id)"
                v-bind="attrs"
                v-on="on"
                color="error"
                class="mx-1">
                  mdi-delete
              </v-icon>
            </template>
            <span>Delete</span>
          </v-tooltip>
        </td>
      </tr>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  name: 'Items',

  data: () => ({
    items: [],
    sortedItems: []
  }),

  computed: {
    sortedItems() {
      return this.items.slice().sort((a,b) => {
        if(a[this.currentSort] < b[this.currentSort]) return -1 * this.currentSortDir;
        if(a[this.currentSort] > b[this.currentSort]) return this.currentSortDir;
        return 0;
      });
    }
  },

  methods: {
    getAllItems() {
      this.$axios({
        method: 'GET',
        url: '/products'
      }).then(response=>{
        this.items = response.data;
      });
    },
    deleteItem(id) {
      this.$axios({
        method: 'DELETE',
        url: '/product/'+id
      }).then(() => {
        this.getAllItems();
      });
    },
    sort ( col ) {
      if(this.currentSort === col){
        this.currentSortDir = -1 * this.currentSortDir;
      }else{
        this.currentSort = col;
      }
    }
  },

  created() {
    this.getAllItems();
  },
}
</script>