<template>
  <div class="hello">
    <v-container align-center>
    <v-row>
      <v-col cols="6">
        <v-text-field 
          label="Name"
          disabled
          outlined
          class="purple-input"
        />
      </v-col>
      <v-col cols="6">
        <v-text-field 
          label="Name"
          v-model="name"
          :value="name"
          outlined
          class="purple-input"
        />
      </v-col>
    </v-row>
    
    <v-row>
      <v-col cols="6">
        <v-text-field 
          label="Price"
          disabled
          outlined
          class="purple-input"
        />
      </v-col>
      <v-col cols="6">
        <v-text-field 
          label="Price"
          v-model="price"
          :value="price"
          outlined
          class="purple-input"
          hint="0.00"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="6">
        <v-text-field 
          label="Quantity"
          disabled
          outlined
          class="purple-input"
        />
      </v-col>
      <v-col cols="6">
        <v-text-field 
          label="Quantity"
          v-model="quantity"
          :value="quantity"
          outlined
          class="purple-input"
          hint="0"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-spacer/>
      <v-col cols="6" md="2" class="text-right">
        <router-link :to="{ name: 'Items' }">
          <v-btn @click=updateItem() color="primary">
            Save
          </v-btn>
        </router-link>
      </v-col>
      <v-col cols="6" md="2" class="text-right">
        <router-link :to="{ name: 'Items' }">
          <v-btn color="primary">
            Cancel
          </v-btn>
        </router-link>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: ['action', 'id'],

  data: () => ({
    name: '',
    quantity: 0,
    price: 0
  }),

  methods: {
    getItemInfo() {
      this.$axios({
        method: 'GET',
        url: '/product/'+this.id
      }).then(response=>{
        this.name = response.data.name;
        this.quantity = response.data.quantity;
        this.price = response.data.price;
      });
    },
    updateItem() {
      let data = {
        name: this.name,
        quantity: this.quantity,
        price: this.price
      }
      if(this.action=='edit') {
        data.id = this.id;
        this.$axios({
          method: 'PUT',
          url: '/product/',
          data: data
        });
      } else {
        this.$axios({
          method: 'POST',
          url: '/addProduct',
          data: data
        });
      }
    }
  },
  created() {
    if(this.action == 'edit') {
      this.getItemInfo();
    }
  },
}
</script>